.error {
    margin-top: 123px;
    height: 1000px;
    background: url("../img/404.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 77px;
    &__inner {
        max-width: 1200px;
        margin: auto;
        h1 {
            color: #ffffff;
            font-family: "Montserrat", sans-serif;
            font-size: px-to-rem(32);
            font-weight: 500;
            line-height: 60px;
            max-width: 550px;
            margin-bottom: 58px;
        }
        p {
            color: #ffffff;
            font-family: "Montserrat", sans-serif;
            font-size: 18px;
            font-weight: 500;
            line-height: 24px;
            margin-bottom: 24px;
            & a {
                text-decoration: none;
                color: #c40010;
            }
        }
        img {
            display: none;
        }
    }
}
@media (max-width: 1250px) {
    .error {
        padding-left: 40px;
        height: 700px;
    }
}
@media (max-width: 1000px) {
    .error {
        background: none;
        padding-left: 0;
        height: auto;
        &__inner {
            h1 {
                padding-left: 20px;
                color: #1a1a1a;
                font-size: px-to-rem(36);
                max-width: 450px;
                line-height: 48px;
                margin-bottom: 57px;
            }
            p {
                color: #1a1a1a;
                padding-left: 20px;
            }
            img {
                display: block;
                width: 100%;
                margin-top: 96px;
            }
        }
    }
}
